@font-face {
	font-family: HappyHalloween;
	src: url(./font/HappyHalloween.otf);
}

*:focus {
	outline: none;
}

html {
	height: 100%;
	background: url(./img/552086.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: rgb(255, 123, 0);
	font-family: "HappyHalloween";
	font-size: 1.1em;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
main,
.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	max-height: 300px;
	overflow-y: auto;
	width: 100%;

	:first-child {
		font-weight: bolder;
		font-size: 1.25rem;
	}
}

main {
	.input,
	.user {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

input {
	font-family: "HappyHalloween";
	font-weight: lighter;
}

input[type="button"],
button {
	padding: 0.4rem 1rem;
	border-radius: 10px;
	box-shadow: 0 0 5px 3px rgb(255, 123, 0, 50%);
	border: none;
	min-width: 100px;
	background-color: rgb(255, 123, 0);
	color: white;
	font-weight: 600;
	transition: 0.3s all;
	cursor: pointer;

	&:hover {
		background-color: rgb(133, 4, 4);
		box-shadow: 0 0 5px 6px rgb(133, 4, 4, 50%);
	}
}

input[type="text"] {
	text-align: center;
	padding: 0.3rem 0.5rem;
	border: none;
	border-radius: 10px;
}

.leaderboard {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.config-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
